/* 導覽列 */
.navbar-brand {
    margin-left: 7%;
}

.navbar {
    position: fixed;
    z-index: 10;
    top: 0%;
    width: 100%;
    background-color: rgb(127, 90, 240);
    font-weight: bold;
}

.text-end {
    margin-right: 7%;
}

/* 設定導覽列永遠在最上方 */
@media screen and (max-width: 390px) {
    .marginTop {
        margin-top: 7rem;
    }
}

@media screen and (max-width: 815px) {
    .text-end {
        margin-right: 0%;
    }

    .navbar-brand {
        margin-left: 5%;
    }
}

.marginTop {
    margin-top: 5rem;
}

/* 設定按鈕 */
.btnSearch {
    background-color: rgb(127, 90, 240);
    width: 80px;
}

.btnLogout {
    background-color: rgb(127, 90, 240);
}

.btn:active, .btn:focus, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* 左邊 */
/* 最近搜尋 */
.insearch {
    background-color: rgb(22, 22, 26);
    height: 200px;
    text-align: center;
    color: rgb(148, 161, 178);
}

#insearchTitle {
    font-weight: bold;
    text-align: center;
    color: white;
}

/* 排行列 */
.concition {
    text-align: center;
    margin-top: 2rem;
}

.list-group-item {
    background-color: rgb(22, 22, 26);
    color: rgb(255, 255, 254);
    padding: 2px;
}

.list-group-item.active {
    background-color: rgb(127, 90, 240);
    border-color: rgb(101, 28, 134);
}

/* 右邊 */
/* 帳戶餘額區 */
.userArea {
    border-radius: 5px;
    /* background-color: rgb(22, 22, 26); */
    background-color: rgb(54, 57, 63);
    color: rgb(255, 255, 254);
    /* padding-left: 10px; */
}

/* 我的最愛  與 庫存*/
.myPrice{
    background-color: rgb(22, 22, 26);
    color: white;  
}
.myPrice h5{
    font-weight: bold;
    text-align: center;
}
.myBank{ 
    background-color: rgb(22, 22, 26);
    height: 72%;
    color: white;
    text-align: center;
    font-weight: bold;
}
.myLove{
    background-color: rgb(22, 22, 26);
    height: 85%;
    color: white;
    text-align: center;
    font-weight: bold;
}

#love, #bank {
    /* text-align: center; */
    font-weight: bold;
    color: white;
}

/* .myPrice h5{
    font-weight: bold;
    color: white;
} */

/* 新聞區 */
.newsArea{
    padding-bottom: 5%;
}

.news {
    background-color: rgb(22, 22, 26);
}

/* 股票圖區 */
.fakeimg {
    height: 400px;
    background-color: white;
}

/* 下單按鈕 */
.myLove+.btn-primary, .myLove+.btn-primary:hover:active {
    background-color: rgb(245, 32, 43);
    border-color: rgb(134, 28, 33);
    /* margin-left: 30%; */
    width: 100%;
    
}

/* 文字區塊用 */
.textArea {
    border-radius: 5px;
}

/* 股票分析圖區 */
.picArea {
    box-sizing: border-box;
    height: 75%;
    margin: 0;
}

.tablink {
    background-color: rgb(54, 57, 63);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}

.tablink:hover {
    background-color: rgb(127, 214, 255);
}

/* 圖表區 */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 600px;
}

#Home {
    background-color: rgb(22, 22, 26);
}

#News {
    background-color: rgb(22, 22, 26);
}

#Contact {
    background-color: rgb(22, 22, 26);
}

#About {
    background-color: rgb(22, 22, 26);
}


/* 跳出下單模組 */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}



/* 自訂顏色class */
/* bg(background)區 */
.bg-custom-paragraph {
    background-color: rgb(22, 22, 26);
}

.bg-custom-background {
    background-color: rgb(36, 38, 41);
}

.bg-custom-importent {
    background-color: rgb(127, 90, 240);
}

.bg-custom-unimportent {
    background-color: rgb(54, 57, 63);
}

/* bd(border)區 */
.bd-custom-paragraph {
    border-color: rgb(22, 22, 26);
}

.bd-custom-importent {
    border-color: rgb(127, 90, 240);
}

.bd-custom-unimportent {
    border-color: rgb(54, 57, 63);
}

/* text區*/
.text-custom-headline {
    color: rgb(255, 255, 254);
}

.text-custom-secondary {
    color: rgb(148, 161, 178);
}

/* 未用註解區 */
/* Set height of body and the document to 100% */

/* body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
} */

/* Style tab links */

/* 顯示庫存新增的div */
#warehouse,#income,#warehouse th,#warehouse tr,#warehouse td,#income th,#income tr,#income td{
    color:white;
    /* border: 1.5px solid rgb(252, 252, 252); */
    border: 2px solid rgb(127, 90, 240);
    
    border-radius: 5px;
    border-collapse:separate
}

#warehouse tr,#warehouse td,#income tr,#income td{
    background-color: rgb(127, 90, 240);
    padding: 3px;
}

#warehouse,#income{
    margin: auto;
    
}



.tabcontent #Kpic{
    margin-top: -5%;
    height: 130%;
    width: 100%;
    background-image: url(../img/none_pic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tabcontent #Volume{
    margin-top: -5%;
    height: 130%;
    width: 100%;
    background-image: url(../img/none_pic.png);
    background-position:center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tabcontent #Bollin{
    margin-top: -5%;
    height: 130%;
    width: 100%;
    background-image: url(../img/none_pic.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.container{
    max-width: 1450px!important;
}

.illustration1{
    border-radius: 5px;
}


/* 設定按鈕 */

button {
    border-radius: 5px;
}

button:hover {
    background-color: rgb(127, 214, 255);
}


/* 股票選擇區 */
.card{
    border: rgb(22, 22, 26)!important;
}
.wisdom button{
    padding: 6px 1.6% !important;
    margin: 0 0.25% 1% 0.25%;
}

.container2{
    max-width: 1410px!important;
}